# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\ReactTranning\web_music_reacte\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
